transport/src/main/java/com/tsystems/transportinfo/soap/NotificationsServiceLocal.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.transportinfo.tsystems.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="NotificationsServiceLocal" targetNamespace="http://soap.transportinfo.tsystems.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.transportinfo.tsystems.com/" elementFormDefault="unqualified" targetNamespace="http://soap.transportinfo.tsystems.com/" version="1.0">

  <xs:element name="delivery" type="tns:delivery"/>

  <xs:element name="deliveryList" type="tns:deliveryList"/>

  <xs:element name="driversStat" type="tns:driversStat"/>

  <xs:element name="trucksStat" type="tns:trucksStat"/>

  <xs:element name="updateDeliveryList" type="tns:updateDeliveryList"/>

  <xs:element name="updateDeliveryListResponse" type="tns:updateDeliveryListResponse"/>

  <xs:element name="updateDriversStat" type="tns:updateDriversStat"/>

  <xs:element name="updateDriversStatResponse" type="tns:updateDriversStatResponse"/>

  <xs:element name="updateTrucksStat" type="tns:updateTrucksStat"/>

  <xs:element name="updateTrucksStatResponse" type="tns:updateTrucksStatResponse"/>

  <xs:complexType name="updateDriversStat">
    <xs:sequence>
      <xs:element minOccurs="0" name="driversStat" type="tns:driversStat"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="driversStat">
    <xs:sequence>
      <xs:element name="available" type="xs:int"/>
      <xs:element name="driving" type="xs:int"/>
      <xs:element name="others" type="xs:int"/>
      <xs:element name="total" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateDriversStatResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateDeliveryList">
    <xs:sequence>
      <xs:element minOccurs="0" name="deliveryList" type="tns:deliveryList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deliveryList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true" type="tns:delivery"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delivery">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cargoes" nillable="true" type="xs:string"/>
      <xs:element name="done" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="drivers" nillable="true" type="xs:string"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="route" type="xs:string"/>
      <xs:element minOccurs="0" name="truck" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateDeliveryListResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateTrucksStat">
    <xs:sequence>
      <xs:element minOccurs="0" name="trucksStat" type="tns:trucksStat"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="trucksStat">
    <xs:sequence>
      <xs:element name="available" type="xs:int"/>
      <xs:element name="defective" type="xs:int"/>
      <xs:element name="inUse" type="xs:int"/>
      <xs:element name="total" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateTrucksStatResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateDriversStat">
    <wsdl:part element="tns:updateDriversStat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDeliveryList">
    <wsdl:part element="tns:updateDeliveryList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTrucksStatResponse">
    <wsdl:part element="tns:updateTrucksStatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTrucksStat">
    <wsdl:part element="tns:updateTrucksStat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDriversStatResponse">
    <wsdl:part element="tns:updateDriversStatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDeliveryListResponse">
    <wsdl:part element="tns:updateDeliveryListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Notifications">
    <wsdl:operation name="updateDriversStat">
      <wsdl:input message="tns:updateDriversStat" name="updateDriversStat">
    </wsdl:input>
      <wsdl:output message="tns:updateDriversStatResponse" name="updateDriversStatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDeliveryList">
      <wsdl:input message="tns:updateDeliveryList" name="updateDeliveryList">
    </wsdl:input>
      <wsdl:output message="tns:updateDeliveryListResponse" name="updateDeliveryListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTrucksStat">
      <wsdl:input message="tns:updateTrucksStat" name="updateTrucksStat">
    </wsdl:input>
      <wsdl:output message="tns:updateTrucksStatResponse" name="updateTrucksStatResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationsServiceLocalSoapBinding" type="tns:Notifications">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateDriversStat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateDriversStat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDriversStatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDeliveryList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateDeliveryList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDeliveryListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTrucksStat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateTrucksStat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateTrucksStatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationsServiceLocal">
    <wsdl:port binding="tns:NotificationsServiceLocalSoapBinding" name="HttpNotificationsImplPort">
      <soap:address location="http://172.17.0.4:8080/info/NotificationsServiceLocal"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>